#lin {
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 0;
    box-sizing: border-box;
    max-width: 100px;
    height: 100%;
    padding: 4px;
    overflow: auto;
}
#lin li {
    list-style: none;
}
#lin ul {
    padding: 0;
}
#lin > ul {
    display: flex;
    flex-flow: row, nowrap;
}
